<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
	<select id="selectAll" parameterType="int" resultType="CommentListDTO">
		select comment_num, comment_text, comment_date, comment_monitor_num, article_num, c.user_num, user_nick,
		CASE WHEN USER_MENTO_CERT = 'T' THEN '🏅' END AS badge
		from tbl_user u join tbl_comment c
		on article_num = #{articleNum} and u.user_num = c.user_num order by comment_date DESC
	</select>
	
	<insert id="insert" parameterType="CommentDTO">
		insert into tbl_comment(comment_num, comment_text, article_num, user_num)
		values(SEQ_COMMENT.nextVal, #{commentText}, #{articleNum}, #{userNum})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from tbl_comment
		where comment_num = #{commentNum}
	</delete>
	
	<update id="update" parameterType="CommentDTO">
		update tbl_comment
		set comment_text = #{commentText}
		where comment_num = #{commentNum}
	</update>
	
	   <!-- 추천수 증가 -->
   <update id="incrementMonitorNum">
    UPDATE TBL_comment
    SET comment_MONITOR_NUM = comment_MONITOR_NUM + 1
    WHERE comment_NUM = #{commentNum}
	</update>
	
	 <!-- 댓글수 세기 -->
	   <select id="countComment" resultType="int">
		SELECT COUNT(C.COMMENT_NUM)
		FROM TBL_COMMENT C
		JOIN TBL_ARTICLE A ON C.ARTICLE_NUM = A.ARTICLE_NUM
		WHERE C.ARTICLE_NUM = #{articleNum}
   	 </select>
</mapper>