<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<!-- 마이페이지 진입시 비밀번호 확인 -->
	<!-- userId는 컨트롤러에서 세션의 id값을 가져와 설정해야함 -->
	<!-- userPw는 해당 form에서 입력한 정보로 가져와 설정해야함 -->
	<select id="pwCheck" parameterType="userDTO" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>

	<!-- 닉네임 수정시 중복 확인 -->
	<select id="nickCheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE USER_NICK = #{userNick}
	</select>

	<!-- 닉네임 수정 버튼 클릭시 해당 회원 업데이트 -->
	<!-- userId는 컨트롤러에서 세션의 id값을 가져와 설정해야함 -->
	<!-- userNick는 해당 form에서 입력한 정보로 가져와 설정해야함 -->
	<update id="nickUpdate" parameterType="userDTO">
		UPDATE TBL_USER
		SET USER_NICK = #{userNick}
		WHERE USER_ID = #{userId}
	</update>

	<!-- 비밀번호 수정하기에서 비밀번호 수정하기 클릭시 -->
	<!-- userId는 컨트롤러에서 세션의 id값을 가져와 설정해야함 -->
	<update id="pwUpdate" parameterType="userDTO">
		UPDATE TBL_USER
		SET USER_PW = #{userPw}
		WHERE USER_ID = #{userId}
	</update>

	<!-- 핸드폰번호 수정하기에서 변경된 정보 저장하기 클릭시 -->
	<!-- userId는 컨트롤러에서 세션의 id값을 가져와 설정해야함 -->
	<update id="phoneUpdate" parameterType="userDTO">
		UPDATE TBL_USER
		SET USER_PHONE = #{userPhone}
		WHERE USER_ID = #{userId}
	</update>


	<!-- 회원탈퇴하기 버튼 클릭시 -->
	<!-- userId는 컨트롤러에서 세션의 id값을 가져와 설정해야함 -->
	<delete id="delete" parameterType="String">
		DELETE FROM TBL_USER
		WHERE USER_ID = #{userId}
	</delete>
	
	<!-- 중복검사 -->
	<!-- 닉네임 -->
	<select id='nickCnt' resultType='int'>
		SELECT count (user_nick)
		FROM tbl_user
		WHERE user_nick = #{userNick}
	</select>

	<!-- 마이페이지 메인 진입시 -->
	<!-- 해당 회원의 닉네임, 모니터, 작성한 게시글 수, 작성한 댓글 수, 뱃지수, 회원의 경력 조회 -->
	<select id="main" parameterType="String" resultType="MypageMainDTO">
		SELECT U.USER_NUM, U.PROFILE_NUM, U.USER_NICK, U.USER_MONITOR, U.USER_MENTO_CERT, U.USER_CAREER,
		T.CERTS_IPE, T.CERTS_IPIE, T.CERTS_IPT, T.CERTS_ISE, T.CERTS_ISIE, T.CERTS_NETMANAGER1, T.CERTS_NETMANAGER2,
		T.CERTS_SQLD, T.CERTS_LINUXMASTER1, T.CERTS_LINUXMASTER2,
		COUNT(DISTINCT A.ARTICLE_NUM) AS ARTICLE_COUNT,
		COUNT(DISTINCT C.COMMENT_NUM) AS COMMENT_COUNT
		FROM TBL_USER U
		LEFT JOIN TBL_ARTICLE A
		ON U.USER_NUM = A.USER_NUM
		LEFT JOIN TBL_COMMENT C
		ON U.USER_NUM = C.USER_NUM
		LEFT JOIN TBL_CERTS T
		ON U.USER_NUM = T.USER_NUM
		WHERE U.USER_ID = #{userId}
		GROUP BY
		U.USER_NUM,
		U.PROFILE_NUM,
		U.USER_NICK,
		U.USER_MONITOR,
		U.USER_MENTO_CERT,
		U.USER_CAREER,
		T.CERTS_IPE,
		T.CERTS_IPIE,
		T.CERTS_IPT,
		T.CERTS_ISE,
		T.CERTS_ISIE,
		T.CERTS_NETMANAGER1,
		T.CERTS_NETMANAGER2,
		T.CERTS_SQLD,
		T.CERTS_LINUXMASTER1,
		T.CERTS_LINUXMASTER2
	</select>
	
	<!-- 해당 유저를 클릭할 시 -->
	<!-- 해당 유저의 닉네임, 모니터, 작성한 게시글 수, 작성한 댓글 수, 뱃지수, 회원의 경력 조회 -->
	<select id="userPage" parameterType="String" resultType="MypageMainDTO">
		SELECT U.USER_NUM, U.PROFILE_NUM, U.USER_NICK, U.USER_MONITOR, U.USER_MENTO_CERT, U.USER_CAREER,
		T.CERTS_IPE, T.CERTS_IPIE, T.CERTS_IPT, T.CERTS_ISE, T.CERTS_ISIE, T.CERTS_NETMANAGER1, T.CERTS_NETMANAGER2,
		T.CERTS_SQLD, T.CERTS_LINUXMASTER1, T.CERTS_LINUXMASTER2,
		COUNT(DISTINCT A.ARTICLE_NUM) AS ARTICLE_COUNT,
		COUNT(DISTINCT C.COMMENT_NUM) AS COMMENT_COUNT
		FROM TBL_USER U
		LEFT JOIN TBL_ARTICLE A
		ON U.USER_NUM = A.USER_NUM
		LEFT JOIN TBL_COMMENT C
		ON U.USER_NUM = C.USER_NUM
		LEFT JOIN TBL_CERTS T
		ON U.USER_NUM = T.USER_NUM
		WHERE U.USER_NICK = #{userNick}
		GROUP BY
		U.USER_NUM,
		U.PROFILE_NUM,
		U.USER_NICK,
		U.USER_MONITOR,
		U.USER_MENTO_CERT,
		U.USER_CAREER,
		T.CERTS_IPE,
		T.CERTS_IPIE,
		T.CERTS_IPT,
		T.CERTS_ISE,
		T.CERTS_ISIE,
		T.CERTS_NETMANAGER1,
		T.CERTS_NETMANAGER2,
		T.CERTS_SQLD,
		T.CERTS_LINUXMASTER1,
		T.CERTS_LINUXMASTER2
	</select>
	
	<!-- 내가 쓴 게시글 목록 불러오기 -->
	<select id = "selectAllMyArticle" resultType = "ArticleListDTO">
	<![CDATA[
	SELECT * FROM (
	     SELECT ROWNUM AS rnum, subquery.*
	     FROM (
	      SELECT 
	         A.ARTICLE_NUM, 
	         A.ARTICLE_TITLE, 
	         A.ARTICLE_TEXT, 
	         A.ARTICLE_DATE, 
	         A.ARTICLE_VIEW, 
	         A.ARTICLE_MONITOR_NUM, 
	         A.ARTICLE_TOPCATE, 
	         A.ARTICLE_BOTCATE, 
	         A.ARTICLE_TAGNAME, 
	         A.USER_NUM,
	         U.USER_MENTO_CERT,
	         U.USER_MONITOR,
	         U.USER_NICK,
	         CASE WHEN USER_MENTO_CERT = 'T' THEN '🏅' END AS badge
	      FROM TBL_ARTICLE A
	      JOIN TBL_USER U ON A.USER_NUM = U.USER_NUM
	      WHERE A.USER_NUM = #{userNum}
	      ORDER BY A.ARTICLE_DATE DESC
	   ) subquery
	   ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	    ]]>
  </select>
  
  <!-- 내가 쓴 게시글 수 가져오기 -->
	<select id="getTotalArticleNum" resultType="int">
		SELECT COUNT(ARTICLE_NUM) 
        FROM TBL_ARTICLE
        WHERE USER_NUM = #{userNum}
	</select>
	
  <!--  내가 쓴 댓글 수 가져오기 -->
   	<select id="getTotalCommentNum" resultType="int">
		SELECT COUNT(COMMENT_NUM) 
        FROM TBL_COMMENT
        WHERE USER_NUM = #{userNum}
	</select>
	
  <!--  내가 쓴 댓글 목록 가져오기 -->
	<select id = "selectAllMyComment" resultType = "MyTotalCommentDTO">
	<![CDATA[
	SELECT * FROM (
	     SELECT ROWNUM AS rnum, subquery.*
	     FROM (
	      SELECT 
	         A.ARTICLE_NUM, 
	         A.ARTICLE_TITLE,     
	         A.ARTICLE_TOPCATE, 
	         A.ARTICLE_BOTCATE, 
	         A.ARTICLE_TAGNAME,
	         A.USER_NUM AS ARTICLE_USER_NUM,
	         U.USER_MENTO_CERT,
	         U.USER_NICK AS ARTICLE_USER_NICK,
	         C.COMMENT_NUM,
	         C.COMMENT_MONITOR_NUM,
	         C.COMMENT_TEXT,
	         C.COMMENT_DATE,
	         C.COMMENT_MODIFY_DATE,
	         CASE WHEN U.USER_MENTO_CERT = 'T' THEN '🏅' END AS badge,
	         UC.USER_NICK AS COMMENT_USER_NICK
	      FROM TBL_ARTICLE A
	      JOIN TBL_USER U ON A.USER_NUM = U.USER_NUM
	      JOIN TBL_COMMENT C ON A.ARTICLE_NUM = C.ARTICLE_NUM
	      JOIN TBL_USER UC ON C.USER_NUM = UC.USER_NUM
	      WHERE C.USER_NUM = #{userNum}
	      ORDER BY C.COMMENT_DATE DESC
	   ) subquery
	   ) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	    ]]>
  </select>
	<!-- fetch 사용시 주석해제 -->
	<!-- <select id="selectCateList" parameterType="map" resultType="ArticleListDTO">
	SELECT 
	A.ARTICLE_NUM,
	A.ARTICLE_TITLE,
	A.ARTICLE_TEXT,
	A.ARTICLE_DATE,
	A.ARTICLE_VIEW,
	A.ARTICLE_MONITOR_NUM,
	A.ARTICLE_TOPCATE,
	A.ARTICLE_BOTCATE,
	A.ARTICLE_TAGNAME,
	U.USER_NICK,
	CASE WHEN USER_MENTO_CERT = 'T' THEN '🏅' END AS badge
	FROM TBL_ARTICLE A
	JOIN TBL_USER U
		ON A.USER_NUM = U.USER_NUM 
	WHERE U.USER_NUM = #{userNum} AND A.ARTICLE_BOTCATE = #{category}
	ORDER BY A.ARTICLE_DATE DESC;
	</select> -->
	
	<!-- 프로필 이미지명 가져오기 -->
	<select id="profileSelect" parameterType="int" resultType="String">
	 	SELECT PROFILE_PHOTO 
		FROM TBL_PROFILE
		WHERE PROFILE_NUM = #{profileNum}
	</select>
	
	<!--  유저 테이블의 프로필Num 업데이트 -->
	<update id="userProfileUpdate" parameterType="int" >
		UPDATE TBL_USER
		SET PROFILE_NUM = #{profileNum}
		WHERE USER_NUM = #{userNum}
	</update>
	
	<!--  유저 테이블 조회 -->
	<select id="userSelect" parameterType="int" resultType="UserDTO">
		SELECT *
		FROM TBL_USER
		WHERE USER_NUM = #{userNum}
	</select>
	
	<!--  해당 유저가 작성한 게시글 상세페이지 조회 -->
	<select id = "articleDetail" parameterType="int" resultType = "ArticleListDTO" >
		SELECT 
		A.ARTICLE_NUM, 
		U.USER_NICK,
		A.ARTICLE_TITLE, 
		A.ARTICLE_TEXT, 
		A.ARTICLE_DATE, 
		A.ARTICLE_VIEW, 
		A.ARTICLE_MONITOR_NUM, 
		A.ARTICLE_TOPCATE, 
		A.ARTICLE_BOTCATE, 
		A.ARTICLE_TAGNAME,
		A.USER_NUM,
		U.USER_MONITOR,
		CASE WHEN USER_MENTO_CERT = 'T' THEN '🏅' END AS badge
		FROM TBL_ARTICLE A
		JOIN TBL_USER U ON A.USER_NUM = U.USER_NUM
		AND A.ARTICLE_NUM = #{articleNum}
   </select>
   
   <!--  해당 유저의 게시글을 확인하기 위해서는 닉네임으로부터 유저번
   -호를 받아와야함 -->
   <select id = "getUserNum" parameterType="String" resultType="int">
   		SELECT USER_NUM
   		FROM TBL_USER
   		WHERE USER_NICK = #{userNick}
   </select>
	
</mapper>
