@charset "UTF-8";

.itAskBox{
  width: 1200px;
  margin: auto;
  /* border: 1px solid black; */
  text-align: center;
}

/* 카테고리선택 */

.write-click>h3{
  font-size: 20px;
  padding: 30px 0px;
}

.topCate{
  margin-bottom: 50px;
}

.tagDev, .tagSec, .tagQual{
  display: none;
}

.topCate > input[id="dev"]:checked ~ .tagDev{
display: block;
}
.topCate > input[id="sec"]:checked ~ .tagSec{
  display: block;
  }
.topCate > input[id="qual"]:checked ~ .tagQual{
  display: block;
}

.topCate input{
  display: none;
}

.topCate label{
  display: inline-block;
  font-size: 16px;
  color: #D96073;
  width: 150px;
  height: 30px;
  background-color: white;
  border: 1px solid #D96073;
  cursor: pointer;
  border-radius: 100px;
  margin: 10px;
  padding-top: 7px;
}
.topCate label:hover{
  color: white;
  background-color: #D96073;
}
.topCate input:checked + label{
  color: white;
  background-color: #D96073; 
}

/* 제목 */

.write-title-section>p{
  text-align: left;
  padding: 20px;
}

.write-title-section input{
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  padding: 10px 0px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

/* 글쓰기 */
.write-content-section>p{
  text-align: left;
  padding: 20px;
}
.write-content-section textarea {
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  padding: 10px 0px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}




/* 글 작성하기 버튼 */
.submit-button {
  width: 100%;
  height: 45px;
  background: #D96073;
  border-radius: 30px;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #D96073;
  margin-bottom: 100px;
}

.submit-button:hover {
  border: 1px solid #D96073;
  color: #D96073;
  background-color: #FFFFFF;
}










