@charset "UTF-8";
/* 마이페이지-일반회원 */
*{
  margin: 0; padding: 0; list-style: none;
  color: #606060;
}

/* 공통메인 - 마이페이지 */
.itAskBox{
  height: 800px;
  width: 1200px;
  margin: 70px auto 90px;
  /* background-color: rgb(201, 255, 237); */
}
/* 마이페이지 제목 */
h3{
font-size: 20px;
width: 1038px;
border-bottom: 1px solid #DFDFDF;
padding-bottom:10px;
margin: 0px auto 30px;
}
/* 좌측 프로필사진 박스*/
.keh-mentoCheck-profile-left{
  float: left;
  /* background-color: antiquewhite; */
  border: 1px solid #DFDFDF;
  width: 320px;
  height: 730px;
  border-radius:50px;
  margin-left: 80px;
  text-align: center;  
}
/* 프로필사진공간 */
.keh-mentoCheck-pic{
  background-color: #D6DC82;
  width: 250px;
  height: 250px;
  border-radius : 200px;
  margin: 40px auto;
}
.keh-mentoCheck-pic>img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* 회원구분 */
.keh-mentoCheck-memType{
  font-size: 20px;
  padding-bottom: 10px;
}
.keh-mentoCheck-memType>span{
  border: 1px solid black;
  display: none;
}
/* 닉네임 */
.keh-mentoCheck-memNickName{
  font-size: 32px;
}
.keh-mentoCheck-memNickName>span{
  color: #606060;
}
/* 내 모니터 총합 */
.keh-mentoCheck-myMonitor{
  font-size: 20px;
}
.keh-mentoCheck-myMonitor>span{
  color: #606060;
  font-weight: bold;
}
/* 구분선 */
hr{
  width: 250px;
  margin: 42px auto;
  border: 1px solid #DFDFDF;
}
/* 프로필사진하단 메뉴 */
.keh-mentoCheck-myMenu>li>a{
  text-decoration-line: none;
  font-size: 18px;
  display: inline-block;
  padding: 5px 0px;
}
.keh-mentoCheck-myMenu>li>a:hover{
  font-weight: bold;
}

.bjs-profileImg-btn{
  text-decoration-line: none;
  font-size: 18px;
  display: inline-block;
  padding: 5px 0px
}

.bjs-profileImg-btn:hover{
	font-weight: bold;
	cursor:pointer;
}

/* 우측 자격/경력/뱃지 안내 */
.keh-mentoCheck-profile-right{
  float: right;
  width: 670px;
  height: 632px;
  border-radius: 50px;
  border: 1px solid #D96073;
  margin-right: 80px;
  text-align: center;
}
h4{
  font-size: 24px;
  padding: 40px 0px 10px;
}
/* 1.뱃지이미지 */
.keh-mentoCheck-badgeIcon{
  width: 120px;
  display: flex;
  /* border: 1px solid firebrick; */
  height: 50px;
  margin: auto;
  justify-content: space-between;
}
.keh-mentoCheck-badgeIcon>div{
  text-align: center;
  font-size: 10px;
  color: #D96073;
}
.keh-mentoCheck-badgeIcon>div>img{
  text-align: center;
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
}

/* 2.필요서류 */
.keh-mentoCheck-needPaper{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #DFDFDF;
}
/* 3.제출할곳 */
.keh-mentoCheck-email{
  width: 80%;
  border-bottom: 1px solid #DFDFDF;
  margin: auto;
  padding-bottom: 30px;
}
/* 4.멘토뱃지 최소조건 */
.keh-mentoCheck-condition{
  width: 80%;
  height: 50px;
  margin: auto;
}
.keh-mentoCheck-condition>div{
  text-align: center;
  font-size: 10px;
  color: #D96073;
  padding-bottom: 30px;
}
.keh-mentoCheck-condition>div>img{
  text-align: center;
  display: block;
  margin: auto;
}

/* +++ 0207+++ 모달창 관련*/
.modal-Box {
  background-color: beige;
  width: 1200px;
  height: 650px;
  position: fixed;
  display: none;
  align-items: center; /*여기서부터*/
  justify-content: center;
  top : 50%;
  left : 50%; /* 여기까지 가운데정렬용 */
  text-align: center;
  transform: translate(-50%, -50%);
}

.modal-Box form{
	width:100%;
	height:100%;
	padding-top:100px;
}



.modal-Box form > div{
	width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.modal-Box form > div > input{
	display: none;
	
}

.modal-Box form > div > input:checked + label > img{
  box-shadow: 0 0 0 10px #D96073;
  /* box-shadow: 0px 0px 20px black */
}


.modal-Box form > div > label > img{
	width:150px;
	height:150px;
	border-radius:50%;
	cursor: pointer;
}

/* 모달창 내부 크기*/
.modal-profile-selectBox{
  width: 100%;
  height: 100%;
}


/* 프로필 이미지 보여주는 리스트*/
/* .modal-profile-selectBox>form>div>input>label{
  width:100%;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 40px auto 40px;
} */


/* .modal-profile-selectBox>div{
  margin: 20px auto 10px;
} */

/*이미지 크기*/
/* .modal-profile-selectBox>form>div>img{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.modal-profile-selectBox>form>div>img:hover{
  border: 1px solid black;
  box-shadow: 0px 0px 20px black;
}
*/
/*x 버튼*/
.x-Box {
  float:right;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer; /*모달창 x를 누를때 마우스 커서 변하게 함*/
  padding-right: 20px;
}

.modal-profile-selectBox button{
  width: 300px;
  height: 70px;
  background-color: #D96073;
  font-size: 20px;
  text-decoration: none;  
  border-radius: 50px;
  margin: 10px auto;
  border: none;
  color: white;
  cursor: pointer;
}

.modal-profile-selectBox button:hover{
  border: 1px solid #D96073;
  background-color: white;
  color: #D96073;
}
