@charset "UTF-8";

.itAskBox{
  width: 1200px;
  margin: auto;
  /* border: 1px solid black; */
  text-align: center;
}

/* 카테고리선택 */

.itAskBox h3{
  font-size: 20px;
  padding: 30px 0px;
}

.topCate{
  margin-bottom: 50px;
}

.tagDev, .tagSec, .tagQual{
  display: none;
}
/* 대분류 선택시 해당 태그 나오게 하는 부분 */
.topCate > input[id="dev"]:checked ~ .tagDev{
display: block;
}
.topCate > input[id="sec"]:checked ~ .tagSec{
  display: block;
  }
.topCate > input[id="qual"]:checked ~ .tagQual{
  display: block;
}

.topCate input{
  display: none;
}

.topCate label{
  display: inline-block;
  font-size: 16px;
  color: #D96073;
  width: 150px;
  height: 30px;
  background-color: white;
  border: 1px solid #D96073;
  cursor: pointer;
  border-radius: 100px;
  margin: 10px;
  padding-top: 7px;
}
.topCate label:hover{
  color: white;
  background-color: #D96073;
}
.topCate input:checked + label{
  color: white;
  background-color: #D96073; 
}

/* 구분선 */
.itAskBox hr{
  border: 1px solid #dfdfdf;
}


/* 제목 */

.write-title-section>p{
  text-align: left;
  padding: 20px;
}

.write-title-section input{
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  width: 1140px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

/* 글쓰기 */
.write-content-section>p{
  text-align: left;
  padding: 20px;
}
.write-content-section>textarea {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #606060;
  width: 1140px;
  height: 500px;
  margin: auto;
  margin-bottom: 40px;
  overflow-y: scroll;
}



/* 첨부파일 */
.form-group{
  display: none;
}

.form-group {
  margin: 0px auto 20px ;
  padding: 20px 0;
  background-color: #eeeeee;
  font-size: 16px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type='text'],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 1rem;
}

.form-group input[type='file'] {
  display: block;
  /* background-color: #D96073; */
  border: 1px solid #dfdfdf;
  width: 20%;
  margin: auto;
  justify-content: center;
  cursor: pointer;
}
.upload-count, .upload-text{
font-size: 12px;
color: #606060;
}
/* .writer {
  color: #333;
  margin-left: 20px;
} */


/* 첨부파일 미리보기 */

.file-list img {
	height: 200px;
	padding:20px;
}

/* 글 작성하기 버튼 */
.submit-button {
  width: 100%;
  height: 45px;
  background: #D96073;
  border-radius: 30px;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #D96073;
  margin-bottom: 100px;
}

.submit-button:hover {
  border: 1px solid #D96073;
  color: #D96073;
  background-color: #FFFFFF;
}










