@charset "UTF-8";

/* 마이페이지-일반회원 */
*{
  margin: 0; padding: 0; list-style: none;
  color: #606060;
}

/* 공통메인 - 마이페이지 */
.itAskBox{
  height: 800px;
  width: 1200px;
  margin: 70px auto 100px;
  /* background-color: rgb(201, 255, 237); */
}
/* 마이페이지 제목 */
h3{
font-size: 20px;
width: 1038px;
border-bottom: 1px solid #DFDFDF;
padding-bottom:10px;
margin: 0px auto 30px;
}
/* 좌측 프로필사진 박스*/
.keh-mypageMain-profile-left{
  float: left;
  /* background-color: antiquewhite; */
  border: 1px solid #DFDFDF;
  width: 320px;
  height: 650px;
  border-radius:50px;
  margin-left: 80px;
  text-align: center;  
}
/* 프로필사진공간 */
.keh-mypageMain-pic{
  background-color: #D6DC82;
  width: 250px;
  height: 250px;
  border-radius : 200px;
  margin: 40px auto;
}
.keh-mypageMain-pic>img{
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* 회원구분 */
.keh-mypageMain-memType{
  font-size: 20px;
  padding-bottom: 10px;
}
.keh-mypageMain-memType>span{
  border: 1px solid black;
  display: none;
}
/* 닉네임 */
.keh-mypageMain-memNickName{
  font-size: 32px;
}
/* 내 모니터 총합 */
.keh-mypageMain-myMonitor{
  font-size: 20px;
}
.keh-mypageMain-myMonitor{
  color: #606060;
  font-weight: bold;
}
/* 구분선 */
hr{
  width: 250px;
  margin: 42px auto;
  border: 1px solid #DFDFDF;
}
/* 프로필사진하단 메뉴 */
.keh-mypageMain-myMenu>li>a{
  text-decoration-line: none;
  font-size: 18px;
  display: inline-block;
  padding: 5px 0px;
}
.keh-mypageMain-myMenu>li>a:hover{
  font-weight: bold;
}

.bjs-profileImg-btn{
  text-decoration-line: none;
  font-size: 18px;
  display: inline-block;
  padding: 5px 0px
}

.bjs-profileImg-btn:hover{
	font-weight: bold;
	cursor:pointer;
}

/* 우측 내활동 */
.keh-mypageMain-profile-right{
  float: right;
  width: 628px;
  height: 632px;
  /* background-color:#D6DC82; */
  margin-right: 80px;
}

/* 개발 카테고리 버튼 담은 박스 */
.bjs-ask-category {
  width: 100%;
  height: 45px;
  display: flex;
  margin-bottom: 30px;
}

/* 개발 카테고리 버튼 */
.bjs-ask-category-btn {
  width: 100%;
  border-radius: 0;
  border:none;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

/* 선택된 버튼 */
.bjs-ask-select {
  background: #D96073;
 	 color: white;
}

/* 버튼 밖에 a 태그 사용하는 방법 */
.bjs-ask-category-btn > a{
  display:inline-block;
  width:100%;
  height:100%;
  text-decoration: none;
  color: black; 
  padding-top:5px;
}

/* 게시글 목록 컨테이너 */
.bjs-ask-post-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  flex-direction: column;
  gap: 20px;

}

/* 게시글 단위 */
.bjs-ask-post-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px; /* 좌우 넓이 추가 */
  margin-bottom:20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 게시글 상단 영역 */
.bjs-ask-post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

/* 태그 스타일 */
.bjs-ask-post-tag {
 /* background-color: #D96073;  댓글 한정으로 다름 */
  color: #D96073;
  padding: 5px 0px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}

/* 게시물 제목 */
.bjs-ask-post-title {
  font-size: 12px;
  font-weight: bold;
  /*color: #333;*/
  cursor: pointer;
  margin-left: 10px;
}

/* 게시물 제목에 a태그 달기 */
.bjs-ask-post-title>a{
  text-decoration: none;
  color:#666;
}

/* 게시글 본문 */
.bjs-ask-post-body {
  font-size: 17px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  cursor: pointer;      
  white-space: nowrap;   /*  한 줄로 표시 */
  overflow: hidden;      /* 넘친 부분 숨김 */ 
  text-overflow: ellipsis; 
  font-weight: bold;
}

/* 게시글 본문에 a태그 달기 */
.bjs-ask-post-body>a{
  text-decoration: none;
  color: #555;
}

/* 게시글 하단 정보 */
.bjs-ask-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #777;
}

/* 작성자, 조회수, 답글 등 */
.bjs-ask-post-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bjs-ask-post-info img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.bjs-ask-post-author {
  cursor: pointer;
}
/* 페이지네이션 */
.pagination {
  text-align: center;
  margin: 30px auto;
  height: 100px;
}

.pagination>ul {
/*   text-align: center;
  margin: 50px auto;
  height: 100px; */
  display: flex;
  justify-content: center;
}

.pagination a {
  align-content: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 5px;
  text-decoration: none;
  color: #606060;
  border: 1px solid #DFDFDF;
  cursor: pointer;
}
.pagination a:hover {
  font-weight: bold;
  background-color: #D96073;
  color: white;
  border: 1px solid white;
  transition: .3s;
}