/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  

  
  /* 메인 */
  main{
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* 카테고리 */
  .mjh-tipEdit-modify {
    margin-top: 500px;
    /* text-align: center; */
    position: relative;
  }
  /* 글 수정 */
  .mjh-tipEdit-modify-title{
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  /* 카테고리, 태그 글자자 */
  .mjh-tipEdit-modify-category{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  .mjh-tipEdit-modify-totalcategory{
  margin-left:auto;
  }
  /* 카테고리, 태그 버튼 */
  .mjh-tipEdit-modify-category1, .mjh-tipEdit-modify-category2, .mjh-tipEdit-modify-tag
  {
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .mjh-tipEdit-modify-category1-button, .mjh-tipEdit-modify-category2-button, .mjh-tipEdit-modify-tag-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #d96073;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #d96073;
    margin: 0 10px;
    /* transition: transform 0.3s; */
  }
  /* 선택된 버튼 */
  .mjh-tipEdit-select{
    background-color: #d96073;
    color: white;
  }
  /* .mjh-tipEdit-select:hover{
    background-color:black;
  } */
  
  /* 버튼 마우스 오버버 */
  .mjh-tipEdit-modify-category1-button:hover, 
  .mjh-tipEdit-modify-category2-button:hover, 
  .mjh-tipEdit-modify-tag-button:hover {
    transform: scale(1.1);
    background-color: #fdecec;
  }
  
  /* 글쓰기  */
  
  .mjh-tipEdit-modify-title-section input,
  .mjh-tipEdit-modify-title-section textarea,
  .mjh-tipEdit-modify-content-section input,
  .mjh-tipEdit-modify-content-section textarea{
    
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    padding: 10px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #606060;
    max-width: 1200px;
    width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
  }
  
  
  /* 첨부파일 */
  .mjh-tipEdit-modify-file {
    /* 자격증은 none 해제하시면 보입니다다 */
    display: none; 
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
    margin: auto;
    /* border: 1px solid rebeccapurple; */
    line-height: 12px;
  }
  
  /* .file-up-container {
    justify-content: space-between;
  } */
  
  .mjh-tipEdit-modify-file-upload-container {
    /* position: absolute; */
    width: 100%;
    height: 40px;
    left: 263px;
    top: 959px;
    /* background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  
  }
  
  .mjh-tipEdit-modify-file-upload-container label {
    font-size: 14px;
    color: #606060;
    cursor: pointer;
  }
  
  .mjh-tipEdit-modify-file-upload-container input[type="file"] {
    display: none;
    width: 80%;
  }
  
  
  
  .mjh-tipEdit-modify-upload-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 50px;
  }
  
  /* 첨부파일 안내 텍스트
  .file-upload-hint {
    position: absolute;
    left: 268px;
    top: 1015px;
    font-size: 14px;
    color: #000000;
    text-align: left;
    padding: 50px 30px;
  } */
  
  /* 업로드 버튼 */
  .mjh-tipEdit-modify-upload-button {
    /* position: absolute;  */
    width: 158.53px;
    height: 45.87px;
    /* left: 773.47px;
    top: 955.13px; */
    background: #FFFFFF;
    border: 1px solid #D96073;
    border-radius: 30px;
    font-size: 14px;
    color: #AC394B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* 글 수정정하기 버튼 */
  #submitbtn {
    /* position: absolute; */
    margin-top: 30px;
    width: 100%;
    height: 45px;
    /* left: 270px;
    top: 1050px; */
    background: #D96073;
    border-radius: 30px;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .submit-button:hover {
    border: 1px solid #D96073;
    color: #D96073;
    background-color: #FFFFFF;
  }
  
  footer {
    margin-top: 60px;
  }
  
  .file-box{
    width: 1200px;
    height: 60px;
  }