@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
  }
  .mjh-noticeDetail-main{
    width: 1000px;
    margin: auto;
  }
  .mjh-noticeDetail-title {
    padding: 40px;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    color: #333;
    border-bottom:1px solid #dfdfdf;
    margin-bottom : 30px;
  }
  .mjh-noticeDetail-articel-title{
    display: flex;
    flex-direction: column;
  }
  .mjh-noticeDetail-articel-title>span{
  color : #606060;
  font-size:16px;
  display:inline-block;
  }
  
  .mjh-noticeDetail-articel-text{
    font-size: 20px;
  }
  .mjh-noticeDetail-articel-line{
    margin:30px auto 70px;
    border: 1px solid #dfdfdf;
  }
  
  .mjh-noticeDetail-articel-line2{
    margin:100px auto 50px;
    border: 1px solid #dfdfdf;
  }
  .mjh-noticeDetail-listbutton>a{
	width: 100px;
    height: 33px;
    cursor: pointer;
    color: #333;
    margin: auto;
    background-color: #dfdfdf;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius:50px;
  }
.mjh-noticeDetail-listbutton>a:hover{
	color:white;
	background-color: #D96073;
	transition:.5s;
}
  .mjh-noticeDetail-profile{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  #mjh-noticeDtail-profile-img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
  }
  .mjh-askDetail-text-author{
    font-size: 20px;
  }

  .mjh-noticeDetail-articel-category{
    color: #D96073;
    padding-bottom:5px;
  }
  .mjh-noticeDetail-articel-title{
    font-size: 24px;
    font-weight: bold;
  }
  .textInfo{
  padding:10px 0px;
  color:#606060;
  }
  .mjh-noticeDetail-content{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color:#dfdfdf;
    padding: 20px;
    width: 800px;
    margin-top: 200px;
  }
  #Detail-moniter-img{
    height: 30px;
    width: 30px;
  }
  #Detail-monitercount, #Detail-viewcount, #Detail-sharecount{
    font-size: 30px;
    padding-left: 20px;
  }
  #Detail-share-img, #Detail-view-img{
    height: 30px;
    width: 35px;
    padding-left: 100px;
  }

  
  